{% extends "base.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" href="/static/tradesignal.css">
<h1>🐲<span class="gradient-h1-title">交易信号</span>🐯</h1>
<div class="toolbar">
    <label>选择股票</label>
    <select id="stockSelector"></select>
</div>
<div class="dashboard-container">
    <div class="matrix-wrapper">
        <table id="matrixTable">
            <thead>
                <tr id="headerRow"><th>Date</th></tr>
            </thead>
            <tbody id="matrixBody"></tbody>
        </table>
    </div>
</div>
<script src="/static/tradesignal.js"></script>
{% endblock %}
